@media  only screen and (min-width: 38rem) {

    header{
        grid-template-columns: 48px auto;
    
    }
    .hamburger {
        display: none;
    }

    .navigation{
        display: block;
    }
    .navigation ul{
        display: flex;
    }
    .navigation ul li{
        flex: 1 1 100%;
    }
    .navigation a{
        text-align: center;
    }

    /*----STYLE THE CARDS OF IMAGES-----*/

    .imagecards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            width: 90%;
            margin: 0 auto;

        
    }
    .imagecards.horiz{
        display: block;

        section{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: .6rem;
            margin: .5rem 0 
            
        }
        .address{
            display: none;
        }

        img{
            display: none;
        }

    }

    footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}