
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*----STYLE OF THE HEADER AND ITS CONTENTS------*/

 main {
     width: 90%;
     margin: 0 auto;
 }
header{
    display: grid;
    grid-template-columns: 48px auto 44px;
    padding: 5px 0 5px 10px;
    gap: .5rem;
    align-items: center;
    background-color: #eee;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    
}

header span{
    font-size: 1.3rem;
    color: #3D405B;
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    color: #3D405B;
    padding: 10px;
}

.hamburger::before{
    content: "\2630";
    font-size: 2.2rem;
}

.hamburger.show::before{
    content: "\00D7";
    font-size:2.2rem;
}


/*-------STYLE OF THE NAVIGATION------*/

.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{

    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.current{
    background-color: #bbb;
}
.navigation a{
    display: block;
    text-decoration: none;
    padding: .5rem 10px;
    font-size: 1.3rem;
    border: 1px solid #bbb;
    color: #3D405B;
}

.navigation a:hover{
    background-color: #e0c05f;
}
/*------STYLE OF THE MAIN CONTENTS---------*/

.direct h1 {
    padding: 10px;
    margin: 0;
    color: #000080; 

}

.change {
    padding: 10px;

}

.list,
.grid {
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;

}


.imagecards{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;

}


.imagecards section {
    border: 2px solid #bbb;  
    border-radius: 5px;
    padding: 10px;
    
}

 .imagecards section img{
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
}
.imagecards a{
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
}

.imagecards p{
    color: #3D405B;
    text-align: center;
    margin: 5px;
    font-size: 1.1rem;
}
.imagecards h2{
    display: block;
    color: #000080;
    text-align: center;
    margin: .5rem;
    padding: 5px;
}

/*--------STYLE THE FOOTER------*/

footer{
    background-color: #eee;
    padding: 10px;
    text-align: center;
    display: grid;
}
footer p{
    color: #3D405B;
    font-size: 1.1rem;
}
footer h2{
    color: #000080;
     
}
.social{
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
   
}
.social img{
    width: 44px;
    height: auto;
    background-color: #bbb;
    padding: .5rem;
    border-radius: 5px;
}

/*----------STYLING THE INDEX.HTML PAGE-------*/

.land{
    margin-top: 1rem;
}
.land img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    color: #000080;
    padding: 10px;
    margin: 0;
}
.land p{
    font-size: 1.5rem;
    color: #3D405B;
    padding: 10px;
    margin: 0;
   
}
.events{
    padding: 10px;
    border: 2px solid #bbb;
    border-radius: 5px;
    
}
.events img{
    width: 200px;
    height: auto ;
    margin: 10px;
}
.events h2{
    color: #000080;
    padding: 0 10px;
    border-bottom: 2px dashed #000080;
}
.events ol li{
    padding: 5px;
    font-size: 1.1rem;
}
.events a{
    font-size: 1.3rem;
    border: 2px solid #bbb;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    text-align: center;
    margin-left: 1.3rem;

}
.events a:hover{
    background-color: #e0c05f;
}
.action{
    display: grid;
}

.content{
    display: grid;
    margin-top: 2rem;
}
.content article {
    padding: 10px;
    border: 2px solid #bbb;
    border-radius: 5px;
    margin: .5rem 0;
}
.content article h2{
    color: #000080;
    margin: 0;
    padding: 0 0 10px 1rem;
    border-bottom: 2px dashed #000080;
}
.content article p{
    font-size: 1.1rem;
    padding-left: 1.5rem;
}
.business h2{
    color: #000080;
    margin: 1rem;
    padding: 5px;
}
.spot{
    display: grid;
    gap: 1.5rem;
    border: 2px solid #bbb;
    padding: 10px;
    border-radius: 5px;
    
}

.spot section{
    border: 2px solid #bbb;
    border-radius: 5px;
    padding: 10px;
}

.spot section img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.spot section p{
    color: #3D405B;
    text-align: center;
    margin: 5px;
    font-size: 1.1rem;
}
.spot section h2{
    color: #000080;
    text-align: center;
    margin: .5rem;
    padding: 5px 5px 10px 5px;
    border-bottom: 2px dashed #000080;
}
.spot section a{
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
}

/*----FORM STYLE AND CARDS------*/

.wf1{
    border: 1px solid #bbb;
    padding: 10px;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #eee;
}

.wf1 fieldset{
    margin-top: 1rem;
    padding: .5rem 2%;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.wf1 legend{
    padding: 0 .5rem;
    color: #000080;
}

.wf1 label{
    display: block;
    margin-top: 1rem;
    color: #3D405B;
    font-size: .9rem;
}

.wf1 div{
    margin-top: 1.5rem;
    color: #000080;
}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="tel"],
.wf1 textarea

{
    background-color: #eee;
    display: block;
    padding: .75rem;
    border: 1px solid #bbb;
    border-radius: 5px;
    color: #555;
    width: 100%;
    max-width: 400px;;
}



.wf1 input[type="radio"]{
    margin: 0 .5rem;
}

.wf1 input:required{
    border-left: solid 5px #FF0000;
}
.wf1 input:required:valid {
    border-left: solid 5px #00FF00;
}

.wf1 button{
    padding: .75rem;
    background-color: #000080;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 1rem 3% 1rem 3%;
    width: 94%;
    max-width: 400px;
    cursor: pointer;
}

.level1{
    margin: 1rem 0;
}
.level1 div{
    border: 1px solid #bbb;
    border-radius: 0 2rem;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-bottom: 1.5rem;

    animation: pulse 3s ease-in-out infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(.98);
        border-radius: 10px;
    }
}

.level1 button{
    background-color: #fff;
    border-radius: 5px;
}
.level1 h2{
    color: #000080;
    text-align: center;
    margin: .5rem;
    padding: 5px 5px 10px 5px;
    border-bottom: 2px dashed #000080;
}

/*------THANKYOU PAGE STYLE-----*/

#results{
    border: 1px solid #bbb;
    padding: 10px;
    margin: 0 2rem;
    border-radius: 5px;
    background-color: #eee;
}

/*-----DIALOG STYLE----*/
#dialogBox{
    border-radius: 5px;
    border: solid 1px #bbb
}
#dialogBox h2{
    color: #000080;
    border-bottom: 2px dashed #000080;
    padding-bottom: 10px;
}

#dialogBox p{
    padding-left: .75rem;
}
#closeButton{
    position: absolute;
    right: 10px;
    top: 10px;
}

/*------STYLE THE DISCOVER PAGE-------*/


.allplaces div{
    margin: 1rem 8px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: 0 0 1rem #eee;
    overflow:hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "photograph"
    "description"
    "location"
    "button";
}
.allplaces div figure{
    margin: 0;
    grid-area: photograph;
}
.allplaces div figure img{
    width: 100%;
}

.allplaces div h2{
    margin: 1rem 10px;
    grid-area: name;
    color: #000080;
    text-align: center;
    padding: 5px 10px;
    border-bottom: 2px dashed #000080;
}

.allplaces div address{
    color: #3D405B;
    margin: 1rem 10px;
    font-size: 1.1rem;
    grid-area: location;
}

.allplaces div p{
    color: #3D405B;
    margin: 1rem 10px;
    font-size: 1.1rem;
    grid-area: description;
}
.allplaces div button{
    grid-area: button;
    padding: .75rem;
    width: 80%;
    margin: 1rem auto;
    border-radius: 5px;
    background-color: #000080;
    color: #fff;
    cursor: pointer;
}
.discover p{
    color: #3D405B;
    margin: .5rem 10px;
    font-size: 1.3rem;
}
