
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*----STYLE OF THE HEADER AND ITS CONTENTS------*/

 body {
     width: 95%;
     margin: 0 auto;
 }
header{
    display: grid;
    grid-template-columns: 48px auto 44px;
    padding: 5px 0 5px 10px;
    gap: .5rem;
    align-items: center;
    background-color: #eee;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    
}

header span{
    font-size: 1.3rem;
    color: #3D405B;
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    color: #3D405B;
    padding: 10px;
}

.hamburger::before{
    content: "\2630";
    font-size: 2.2rem;
}

.hamburger.show::before{
    content: "\00D7";
    font-size:2.2rem;
}


/*-------STYLE OF THE NAVIGATION------*/

.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{

    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.current{
    background-color: #bbb;
}
.navigation a{
    display: block;
    text-decoration: none;
    padding: .5rem 10px;
    font-size: 1.3rem;
    border: 1px solid #bbb;
    color: #3D405B;
}

.navigation a:hover{
    background-color: #E07A5F;
}
/*------STYLE OF THE MAIN CONTENTS---------*/

.direct h1 {
    padding: 10px;
    margin: 0;
    color: #3D405B; 

}

.change {
    padding: 10px;

}

.list,
.grid {
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;

}


.imagecards{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;

}


.imagecards section {
    border: 1px solid #bbb;  
    border-radius: 5px;
    padding: 10px;
    
}

 .imagecards img{
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
}
.imagecards a{
    display: block;
    padding: 5px;
    text-align: center;
}

.imagecards p{
    color: #3D405B;
    text-align: center;
    margin: 5px;
}
.imagecards h2{
    display: block;
    color: #3D405B;
    text-align: center;
    margin: .5rem;
    padding: 5px;
}
.imagecards.horiz img {
    display: none;
}

/*--------STYLE THE FOOTER------*/

footer{
    background-color: #eee;
    padding: 10px;
    text-align: center;
    display: grid;
}
footer p{
    color: #3D405B;
}
footer h2{
    color: #3D405B; 
}
.social{
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
   
}
.social img{
    width: 44px;
    height: auto;
    background-color: #bbb;
    padding: .5rem;
    border-radius: 5px;
}

/*----------STYLING THE INDEX.HTML PAGE-------*/

/* .home{
    width: 95%;
    margin: .5rem auto;
}
.land{
    position: relative;
}
.land button{
    position: absolute;
    left: 5rem;
    bottom: 16rem;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.5rem;
}
.land button:hover{
    cursor: pointer;
}

.land p{
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}
.land h1{
    padding: 10px;
    margin: 0;
}
picture img{
    display: block;
    width: 100%;
    height: auto;
} */

/*--------STYLING THE HOME PAGE----------*/
/* 
.content{
    display: grid;
    gap: 1.5rem;
}

.content section{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;

}
.content section li{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #0e1e34;
}
.content section h2{
    padding: 10px;
    margin: 0;
    color: #000080;
}
.content section p{
    font-size: 1.1rem;
    padding: 0 1.5rem;
    color: #0e1e34;
}

.spot{
    display: grid;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.spot section{
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 5px;
}

.spot section img{
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
}
.spot section p{
    font-size: 1.1rem;
    color: #0e1e34;
    text-align: center;
    margin: 5px;
}
.spot section a{
    display: block;
    font-size: 1.1rem;
    padding: 5px;
    color: #000080;
    text-align: center;
}

.spot h2{
    display: block;
    color: #000080;
    text-align: center;
    margin: .5rem;
    padding: 5px;
} */