
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*----STYLE OF THE HEADER AND ITS CONTENTS------*/
header{
    display: grid;
    grid-template-columns: 48px auto 44px;
    padding: 5px 0 5px 10px;
    gap: 1rem;
    align-items: center;
    background-color: #0e1e34;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    
}

header span{
    font-size: 1.3rem;
    color: #fff;
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}

.hamburger::before{
    content: "\2630";
    font-size: 2.2rem;
}

.hamburger.show::before{
    content: "\00D7";
    font-size:2.2rem;
}


/*-------STYLE OF THE NAVIGATION------*/

.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{

    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.current{
    background-color: #e0c65f;
}
.navigation a{
    display: block;
    text-decoration: none;
    padding: .5rem 10px;
    font-size: 1.3rem;
    border: 1px solid #eee;
    color: #0e1e34;
}

.navigation a:hover{
    background-color: #eee;
}
/*------STYLE OF THE MAIN CONTENTS---------*/

.direct h1 {
    text-align: center;
    color: #000080;
    margin: 1rem auto;

}

.change {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: .5rem auto;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;

}

.list,
.grid {
    font-size: 1.5rem;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #0e1e34;
    background-color: #fff;

}

.imagecards{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #eee;

}


.imagecards section {
    border: 1px solid #bbb;  
    background-color: #fff;
    border-radius: 5px;
    padding:5px;
    box-shadow: 15px 15px 15px #333;
    
}

 .imagecards section img{
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
}
.imagecards section a{
    display: block;
    font-size: 1.1rem;
    padding: 5px;
    color: #000080;
    text-align: center;
}

.imagecards section p{
    font-size: 1.1rem;
    color:#0e1e34;
    text-align: center;
    margin: 5px;
}
.imagecards h2{
    display: block;
    color: #000080;
    text-align: center;
    margin: .5rem;
    padding: 5px;
}

/*--------STYLE THE FOOTER------*/

footer{
    background-color: #0e1e34;
    padding: 10px;
    text-align: center;
    margin-top: 1rem;
}

footer p{
    font-size: 1.2rem;
    color: #e0c65f;
}

footer h2{
    color: #e0c65f;
    
}
.social img{
    width: 32px;
    height: auto;
    margin: 1rem;
    background-color: #fff;
}

/*----------STYLING THE INDEX.HTML PAGE-------*/

.home{
    width: 95%;
    margin: .5rem auto;
}
.land{
    position: relative;
}
.land button{
    position: absolute;
    left: 5rem;
    bottom: 16rem;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: #e0c65f;
    color: #0e1e34;
}
.land button:hover{
    cursor: pointer;
}

.land p{
    padding: 10px;
    font-size: 1.5rem;
    color: #FF6347;
    text-align: center;
    margin: 0;
}
.land h1{
    padding: 10px;
    color: #0e1e34;
    margin: 0;
}
picture img{
    display: block;
    width: 100%;
    height: auto;
}

/*--------STYLING THE HOME PAGE----------*/

.content{
    display: grid;
    gap: 1.5rem;
}

.content section{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 15px 15px 15px #333;

}
.content section li{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #0e1e34;
}
.content section h2{
    padding: 10px;
    margin: 0;
    color: #000080;
}
.content section p{
    font-size: 1.1rem;
    padding: 0 1.5rem;
    color: #0e1e34;
}

.spot{
    display: grid;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.spot section{
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 15px 15px 15px #333;
}

.spot section img{
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
}
.spot section p{
    font-size: 1.1rem;
    color: #0e1e34;
    text-align: center;
    margin: 5px;
}
.spot section a{
    display: block;
    font-size: 1.1rem;
    padding: 5px;
    color: #000080;
    text-align: center;
}

.spot h2{
    display: block;
    color: #000080;
    text-align: center;
    margin: .5rem;
    padding: 5px;
}